[2019-09-27 22:51] milano-technical-intern opened #1 "Not getting any data from any of the scan topics"
Hi,

I'm not getting any data from any of the scan topics, i.e, by executing rostopic echo /r2300_node/scan_0 or by trying to visualize them using RViz. I'm not getting any error either when executing the launch file so, I'm not sure what is happening. I'm using the default values:

SUMMARY
========

PARAMETERS
 * /r2300_node/frame_id: /scan
 * /r2300_node/major_version: 0
 * /r2300_node/samples_p

[2019-09-30 06:37] ptruka commented on #1
Hello,

a quick question to begin: Which hardware version are you using?

Best Regards

[2019-09-30 17:41] milano-technical-intern commented on #1
This is the information related to the R2300 I have:

HW: 0.608
FW: 0.70

Best,

[2019-10-01 16:18] ipa-hsd commented on #1
@milano-technical-intern could you please pull the latest master and try again?

[2019-10-03 18:02] milano-technical-intern commented on #1
@ipa-hsd I did, and I'm still having the same issue: no data from any of the scan topics. Have you updated the master @ipa-hsd? In the repository, it reads "Latest commit adff7b9 13 days ago"

Best,

[2019-10-07 08:30] ipa-hsd commented on #1
@milano-technical-intern yes I have updated the master branch. Have you made sure the device is in working condition? Probably just pinging it may not be enough. @ptruka is there any Windows software where he can test the device?

[2019-10-08 01:04] milano-technical-intern commented on #1
@ipa-hsd I just tested it out in the Windows 10 program. It works. I can see all four layers. The problem persists on the ROS driver. I'm not getting any data. Do you know what indicates each LED in the R2300? It seems that in the ROS program is not establishing connection with the R2300. As you can see in [this picture](https://photos.google.com/share/AF1QipNrHek4WQ5wtgsVd29fRLrXIet5Q1X9ikqR6NzE7

[2019-10-10 05:25] milano-technical-intern commented on #1
Nevermind. I just got the manual where it describes the indicators.

The PC where I'm testing the R2300 doesn't have WiFi. Therefore, when I connect to the R2300 is by Ethernet only. I've tried with a network switch and directly connecting the R2300 to the computer but none of them worked.

[2019-10-10 15:31] ipa-hsd commented on #1
OK seems like it's a network issue. I'll close the issue for now. Feel free to open it again.

[2019-10-10 17:19] milano-technical-intern commented on #1
I'm getting the same result with or without the network switch. I even tried with another computer and it's the same.

Best,

[2019-10-10 17:24] milano-technical-intern commented on #1
@ipa-hsd by the way, I cannot reopen the issue because I'm not a collaborator since you closed it.

https://stackoverflow.com/questions/21333654/how-to-re-open-an-issue-in-github

[2019-10-15 11:40] maxlein opened #2 "Is UDP supposed to work?"
Hi,

I am trying out the driver and I can't get it to work over UDP.

First, there is a hardcoded udp address in `pfsdp_protocol.hpp`.
Then at least parse_data() gets called but no scans are published...

TCP is working.

[2019-10-15 11:45] ipa-hsd commented on #2
Hi, are you using R2000? UDP for R2000 is not tested yet. Is this a blocking issue for you?

[2019-10-15 11:46] ipa-hsd commented on #1
I will try to implement SSDP within the driver, that might solve the issue.

[2019-10-15 12:24] maxlein commented on #2
Well, we are comparing the sick microscan against the r2000.
And I see some time delay as you can see on the gif:  (the slow downs are from this gif recorder...)

![microscan vs r2000](https://user-images.githubusercontent.com/11796203/66830868-c605b700-ef56-11e9-8e50-8c0279d14633.gif)

btw: it may occurred to you that r2000 has a quite high noise in comparison to the microscan.
Do you have any su

[2019-10-15 12:31] ipa-hsd commented on #2
To clarify, the delay is not observed because of the driver, right?

I have not tested SICK scanner you mentioned, so I cannot compare. Can you check if you get the same noise if you use the Windows software for Pepperl+Fuchs?

[2019-10-15 12:46] maxlein commented on #2
No, the delay is somewhere in the line from scanner to rviz.
I was just referring to the gif not displaying smoothly.

Something is buffering up, because after a restart of the driver the delay is gone but increases again as time is passing.

Yes, I have the same noise on Windows.

[2019-10-15 13:34] ipa-hsd commented on #2
This is most probably an issue with incorrect calculation of `time_increment`. Can you test https://github.com/PepperlFuchs/ROS_driver/commit/2f94e06e9a47030f625e6ea7f43e3b2e9a957d3b and let me know if this solves your issue?

[2019-10-15 14:03] maxlein opened #3 "Display custom text"
Could not find a documentation which describes the interface, so I would like to know if it's possible to pass custom text which is displayed on the scanners display?

[2019-10-15 14:44] ipa-hsd commented on #2
It is most probably an issue with incorrect calculation of `time_increment`. Can you test it with https://github.com/PepperlFuchs/ROS_driver/commit/0ee0024829ff4d0f6d27864ec84e2badb4b6aeec?

[2019-10-16 14:19] maxlein commented on #2
Yes, that fixed it! Thanks for fast support.

[2019-10-16 16:13] #2 closed

[2019-10-17 21:37] milano-technical-intern commented on #1
@ipa-hsd  Have you tried to use the driver in the freshly installed Ubuntu 18.04 and ROS melodic? Maybe you can replicate the issue I'm having by doing that.

Best,

[2019-10-18 11:40] YangAndI commented on #1
I have the same problem.
Infinite loop
  data_notifier.wait_for(lock, std::chrono::seconds(1));
because the scans is empty
best

[2019-10-18 11:42] YangAndI commented on #1
And the led is only three,the first is green and the last is green,and the second to last is flashing yellow light.
Best,

[2019-10-18 11:51] ipa-hsd commented on #1
@YangAndI and @milano-technical-intern is the scanner's IP `10.0.10.76` and your host PC's IP `10.0.10.1`?

[2019-10-18 21:26] milano-technical-intern commented on #1
@ipa-hsd Actually, It worked by changing the host PC's IP to 10.0.10.1

Thanks!

Best,

[2019-10-21 01:01] YangAndI commented on #1
@ipa-hsd Thanks,it is worked by changing the IP to 10.0.10.1.
May i change the sensor ip or host ip?

[2019-10-31 17:21] milano-technical-intern commented on #1
@ipa-hsd Any particular reason why it doesn't work for any other address in the subnet but 10.0.10.1? If I send HTTP commands like this one:
`http://10.0.10.76/cmd/set_parameter?pilot_laser=on`
it works for any address in the subnet.

Best,

[2019-11-11 15:07] ipa-hsd commented on #1
Sorry for the delay. Can you test with the latest `master`?

[2019-11-15 02:15] milano-technical-intern commented on #1
Still not working with other ip address other than 10.0.10.1

[2019-11-28 16:26] ipa-hsd commented on #1
Make sure your IP is has a subnet of 10.0.10.*
I cannot reproduce this error from my side anymore.

[2019-12-05 21:56] bk-mtg commented on #1
@ipa-hsd I work with @milano-technical-intern, and I just finished testing that this appears to be working now for us.  We even verified that we are able to change the IP/subnet on the device (as expected) and the driver works on the new subnet (assuming appropriate host IP config obviously).

I assume this was addressed in c1760582afc0591cb0b4030d6b2a8d0b4a0da322?  Thanks for the help with this!

[2019-12-05 22:51] #1 closed

[2019-12-06 08:39] ipa-hsd commented on #1
Good to know it works!

[2019-12-09 19:27] bk-mtg opened #9 "R2000 Driver produces corrupt data under high load"
We experienced an issue during field testing a week ago where the system was unable to keep up with the log data rate for whatever reason, and this appears to have led to corrupt data logged from the R2000 sensor attached.  *Missing* data would obviously be expected if the system is unable to keep up, however in this case it appears that data is incorrectly assigned to points in the wrong lasersca

[2019-12-10 07:41] ipa-hsd commented on #9
@bk-mtg thanks for reporting the issue. Please update the thread once you have more information. I'll try to include packet validation.

[2019-12-10 10:32] maxlein opened #10 "Error: Unknown parameter, 'measure_start_angle"
When I start r2000 driver with latest code, I get this error on startup:
Is my firmware not up to date or something?

[code]

[2019-12-10 11:50] maxlein commented on #10
Available parameters:
[code]

[2019-12-10 11:55] ipa-hsd commented on #10
This is not a firmware issue. I will get back to you regarding this.

[2020-02-26 10:10] Patrick-Lascombe commented on #10
measure_start_angle is a parameter for the r2300 LIDAR. Comment the line `angle_min_max = protocol_interface->get_angle_min_max(handle_info.handle);` in pf_interface.hpp and it should work.

[2020-03-02 08:58] maxlein commented on #9
I have these problems also and added a quick fix for not publishing corrupt data.
But I don't know what triggers this. I am using the TCP Connection btw.

[code]

[code]

[2020-03-02 09:19] ipa-hsd commented on #9
@maxlein thanks for the information. This should help in debugging the problem.

[2020-04-01 08:35] maxlein commented on #9
Sorry, missed your question.
I don't think we have a "high load" scenario.
It just happens under "normal" usage, although we have another scanner ( Sick microscan ) on the bus.
But we are not maxing out network bandwidth.

To sum it up, I can't really tell you what leads to these errors or how to reproduce them other than starting the laser node.

[2020-04-01 17:14] bk-mtg commented on #9
Wonder if maybe this is somehow related to TCP retransmissions or something?  e.g. if a second device is sending on the network, you may occasionally get packet collisions and the R2000 may re-send packets, which could arrive out of order or similar?

Unfortunately, I won't be able to reproduce this for the foreseeable future, as our project involving R2000/R2300 is on hold.

@maxlein if you are a

[2020-05-18 13:26] JaccovdS opened #12 "Development status"
What is the current status of the development of the driver? Is it still recommended to use the community edition of the driver? (Since it hasn't had any update in the last 4 years).

[2020-05-18 14:16] ipa-hsd commented on #12
The community edition doesn't support R2300. This driver supports both devices, R2000 and R2300. It is in development and will be completed in the coming days. Please keep a watch!

[2020-05-19 06:58] #12 closed

[2020-06-05 03:45] Heavydpan opened #16 "Too many scans in receiver queue: Dropping scans!"
Hi!
My customer start R2000 and start to get R2000 point data, but after 1 hour, the R2000 driver post err:Too many scans in receiver queue: Dropping scans!
They use TCP request to get R2000 data.

How to solve this issue?
Thannk you!

[2020-06-05 04:13] Heavydpan opened #17 "When call the httpGet(), the program is jam."
Sometimes the network is breakdown, and the customer track the driver, when run in HttpCommandInterface::httpGet(), and boost::asio::read_until() and boost::asio::read() will jam, and can't exit with CRTL+C.
We also can do like this: connect() to R2000, and sleep 5s, in this 5s run "ifdown" in terminal, have the same issue.
My suggestion is when the network have this problem , the R2000 driver thr

[2020-06-05 07:39] ipa-hsd commented on #16
@Heavydpan you can ignore the message. It just says that there are too many scans (100 in this case) in queue and not all of them will be processed. Probably I will remove the log message if it is annoying.

[2020-06-05 07:58] Heavydpan commented on #16
But after this message showed, they can't receive any data.

Is it other issue?

[2020-06-05 08:00] ipa-hsd commented on #16
OK then it is an issue. I don't think not receiving data is directly related to the log message.

[2020-06-05 08:06] Heavydpan commented on #16
Hi,
But after this message showed, they can't recieve any data.
Is it other issue?

---Original---
From: "Harsh Deshpande"<notifications@github.com&gt;
Date: Fri, Jun 5, 2020 15:39 PM
To: "PepperlFuchs/ROS_driver"<ROS_driver@noreply.github.com&gt;;
Cc: "Mention"<mention@noreply.github.com&gt;;"Perpperl and Fuchs sensors and system"<heavyd@qq.com&gt;;
Subject: Re: [PepperlFuchs/ROS_driver] Too many

[2020-06-22 09:12] NikolasE commented on #16
"not all of them will be processed" Does that mean that not all measured data will be available in subscribing nodes?

[2020-06-22 09:28] ipa-hsd commented on #16
Yes the device sends data at a faster rate than the ROS driver can process it. So the driver maintains a queue internally. Once the queue becomes full, oldest scan data is dropped.

[2020-06-22 13:11] NikolasE commented on #16
How many scans are getting dropped? And how big can the delay between capturing the data on the device and publishing it as laser-msg become? I think that removing the warning is not the right way to deal with that problem as it hides a potentially serious issue.

[2020-06-26 08:47] ipa-hsd commented on #9
I have recently added quite a few commits. Could you please pull the latest master and try this again and report back your finding?

[2020-07-18 01:40] bk-mtg commented on #9
Don't currently have a ROS/R2000 setup handy, but it [looks](https://github.com/PepperlFuchs/ROS_driver/blob/477d72066f8cfc6ecb960fc388c2a8f0e9f6a3ec/pf_driver/src/ros/scan_publisher.cpp#L85) to me like #14 addresses the core bug I thought I saw in the older version of the code.

That said (based on a quick read-through of the code, so I may have missed some things), I think there are still some i

[2020-07-18 01:45] bk-mtg opened #22 "NaN range not filled in for packet type C"
I haven't actually observed this in an operational setting, but I think this line that publishes NaN instead of the distance measurement only works for packet types A/B but not for packet type C.  Not sure if it matters in practice since in any case it will be above the `range_max` parameter and should be ignored, but it seems generally undesirable to treat the various packet types differently.
ht

[2020-07-23 06:49] stribor14 opened #23 "Timestamping laser scan message"
in the [LaserScan](http://docs.ros.org/melodic/api/sensor_msgs/html/msg/LaserScan.html) message, it is written that the timestamp in the header should be a time at which first reading was made.

Currently, in the code (and in the other driver), this field is populated by `ros::Time::now()` just before publishing message, which is by default wrong timestamp.

In the documentation, it says that ther

[2020-07-24 00:32] bk-mtg commented on #9
Been doing some more thinking about this, and I'm not sure my suggestion of waiting for the scan number to increment is a good one.  Raises all sorts of tricky questions like what if you get unplugged and miss *all* the packets from one or more scans.  Or what if the lidar gets unplugged and resets its scan number/timestamp.  And so on and so forth.  Hm...  Maybe it doesn't matter too much, since

[2020-07-25 05:37] bk-mtg commented on #9
Got a test setup for this this evening.  For future reference, a good way to induce fun packet orders seems to be to connect to the lidar via a wifi link.

Seems like the original issue where after some time the entire data stream tends to become corrupt is fixed, but that there's still some weird things going on.  Specifically,
1. I seemed to be getting quite a lot of missing data
2. The rviz plo

[2020-07-25 07:29] bk-mtg commented on #9
Submitted #24 to fix the issue I had with missing `PFR2000Header.h`.

[2020-07-25 16:26] bk-mtg opened #25 "Not all published params can be set with a call to `set_parameter`"
All parameters are treated the same here:
https://github.com/PepperlFuchs/ROS_driver/blob/477d72066f8cfc6ecb960fc388c2a8f0e9f6a3ec/pf_driver/include/pf_driver/pf/r2000/pfsdp_2000.hpp#L85
But several of them (`packet_type`, `start_angle`, `max_num_points_scan`, `skip_scans`) can only be set during the call to `request_handle_tcp` or `request_handle_udp`, rather than with a call to `set_parameter`.

[2020-07-26 23:54] bk-mtg commented on #9
I have fixes for several of the other protocol issues I've seen; will submit a PR for them sometime in the next day or so (have one more issue I want to track down first).

[2020-07-27 09:34] ipa-hsd commented on #25
You are right. Thanks for pointing out.

[2020-07-27 09:50] ipa-hsd commented on #23
Synchronized time or any other time sent by the device is completely different from ROS time. If you want to access the device's timestamp for any reason, I am publishing it on a topic `/r2x00_header`. There you can view the entire header sent by the device.

According to the comment in the `LaserScan` message, maybe a better suited place to use `ros::Time::now()` would be [here](https://github.co

[2020-07-27 11:37] stribor14 commented on #23
I agree that they are completely different timekeeping services and not only can they be offset, they can also drift apart. But still, if an algorithm is relying on precise timestamps (and for this reason fields like `time_increment` and `scan_time` exist), such usage of `ros::time::Now()` can be detrimental.

An example of this, imagine the sensor traveling at a higher speed in a straight line, h

[2020-07-27 14:28] bk-mtg commented on #9
Just submitted #26 with fixes for most of the outstanding issues here.   I think the core issue (assigning points the wrong angles) has already been fixed, so I'm going to go ahead and close this issue, but definitely take a look at that PR.

[2020-07-27 14:28] #9 closed

[2020-07-27 16:49] bk-mtg commented on #3
It *is* possible to pass this text (at least for R2000, not R2300 AFAIK).

If you're interested in doing it yourself via the [HTTP API](https://files.pepperl-fuchs.com/webcat/navi/productInfo/doct/doct3469f.pdf?v=20200506171824) (linked on the R2000 product pages as "R2000 Ethernet communication protocol"), you can start at `http://YOUR_R2000_IP_HERE/cmd/get_protocol_info`, which contains a list o

[2020-07-27 16:52] bk-mtg commented on #10
I was successfully able to capture with an R2000 this week and did not experience this issue, so I think this has been resolved?

[2020-07-27 19:04] ipa-hsd commented on #10
Yes, it was fixed in https://github.com/PepperlFuchs/ROS_driver/pull/14

[2020-07-27 19:04] #10 closed

[2020-07-29 10:13] reinzor opened #28 "Driver status / release plans"
Hi,

What is the current status of the driver? Is a proper release planned anytime soon for `Melodic` / `Noetic`? According to https://github.com/PepperlFuchs/ROS_driver/issues/12 it was planned to be finished two months ago.

Is there a way we can help?

[2020-07-29 11:10] ipa-hsd commented on #28
Thanks for your interest. There are still some minor bugs being fixed but the state of the driver has improved considerably since the issue you mentioned. We are currently targeting `Melodic`, but porting to` Noetic` shouldn't be much of an effort. Once it is ready for `Melodic`, I can create a new issue with TODOs to move to `Noetic` where you could chip in.

[2020-08-06 08:23] #28 closed

[2020-08-06 08:23] ipa-hsd commented on #25
https://github.com/PepperlFuchs/ROS_driver/pull/29 should solve it.

[2020-08-06 08:31] ipa-hsd commented on #22
Is it address in https://github.com/PepperlFuchs/ROS_driver/pull/26?

[2020-08-06 08:33] ipa-hsd commented on #17
There have quite a few changes in the past couple of months. Could you please pull in the `master` branch and try again?

[2020-08-06 08:34] ipa-hsd commented on #16
@Heavydpan there have been changes in the past couple of months. Could you please pull the `master` branch and try again?

[2020-08-08 11:50] finger42 opened #30 ".clang-format file is not clang-format ?"
Generating an .clang-format file:

https://clang.llvm.org/docs/ClangFormat.html

Hot should it look like?

[code]

This is just an example...

[2020-08-17 04:34] bkurtz commented on #22
Not at present.

[2020-08-17 05:23] bk-mtg commented on #22
Not at present, no.

[2020-08-17 05:26] bk-mtg commented on #25
I guess it's kindof a matter of what "solving" this means.  I think to really do it properly, you have to stop the existing data stream from the R2000/R2300 and start a new one, but that's quite a bit of work and may raise other issues.  May be that it's not worth that much effort to allow dynamic reconfigure, since most of the properties that can only be set that way probably aren't going to be c

[2020-08-19 14:37] reinzor commented on #28
Sorry for re-opening this issue but could you give more clarity about the release plan?

[2020-08-25 07:04] reinzor commented on #28
ping @ipa-hsd

[2020-08-25 10:22] ipa-hsd commented on #28
Once https://github.com/PepperlFuchs/ROS_driver/pull/26 is merged, the current development will come to an end for now. Then it would be ready for release.

[2020-08-25 10:24] ipa-hsd commented on #17
I will close this for now. Feel free to open if you still face the issue.

[2020-08-25 10:24] #17 closed

[2020-08-25 10:34] ipa-hsd commented on #25
This is the statement in the R2000 protocol document:
[code]
I will take of this in the later PRs because as you said, it might raise other issues. Leaving the issue open for now.

[2020-08-25 10:39] reinzor commented on #28
Thanks for your reply :)

[2020-09-07 07:06] reinzor commented on #28
Hi @ipa-hsd , I see that the PR is merged. How far are we from an official release? Can we help in some way?

[2020-09-30 08:45] bxc237 commented on #23
Hi, @stribor14 ,if you reduce the scan frequency, does the problem still there?

[2020-09-30 09:03] reinzor commented on #28
@ipa-hsd ping

[2020-10-13 07:53] Patrick-Lascombe opened #32 "Seg fault on ROS Noetic"
Hello,
I know that this driver is not yet released on Noetic, but when I tried to use it I got a Seg fault (error code -11).
The driver is properly launched and I receive the LaserScab but after a few seconds the error (seen below) pop.
The error `conversion of data from string failed` comes from the parameter "skip_scans" missing since the LiDAR I use is not a version 1.03 or newer. But I don't t

[2020-10-13 08:01] ipa-hsd commented on #32
Thanks for reporting. Yes this seems to be because of the version mismatch of the device and not because of Noetic. Would it be possible for you to test the driver against a newer device version? I will try to print out a cleaner error message in the mean-time.

[2020-10-13 08:03] Patrick-Lascombe commented on #32
I'll see if we have a newer version in our offices and check it

[2020-10-13 08:08] Patrick-Lascombe commented on #32
Tested on a newer device, and the same problem occurred. I'll try to check on another computer during the day to exclude my hardware configuration
![Screenshot from 2020-10-13 10-07-15](https://user-images.githubusercontent.com/44769524/95833434-e7e97380-0d3b-11eb-9c36-b0805705cc40.png)

[2020-10-13 08:18] ipa-hsd commented on #32
Could you remove `skip_scans` from [this](https://github.com/PepperlFuchs/ROS_driver/blob/330a0425983c6b82f1b5c91e1f4d32b85b1d3075/pf_driver/include/pf_driver/pf/pfsdp_protocol.hpp#L385) line and comment out [this](https://github.com/PepperlFuchs/ROS_driver/blob/330a0425983c6b82f1b5c91e1f4d32b85b1d3075/pf_driver/include/pf_driver/pf/pfsdp_protocol.hpp#L390) line and try again?

[2020-10-13 11:17] Patrick-Lascombe commented on #32
Same result, I do not think it comes from the different version. I now conduct my test on a R2000 which has the skip_scans function and the same problem occurs

[2020-10-14 17:27] reinzor commented on #28
@ipa-hsd, could you please provide some timeline or point in a direction where we can help? If not, we will start our own fork (which is ofcourse not the goal of any open source project).

[2020-10-15 08:18] ipa-hsd commented on #28
The PRs have been merged. The Pepperl-Fuchs team (of which I am not part of) is taking a decision about the release. It would be great if you could test the driver on Noetic until then and make a new issue with the errors you come across. Thanks!

[2020-10-30 14:03] karry3775 opened #33 "port 80 connection getting refused"
Even after changing ip address in the r2300 launch file, there is a repeated HTTP Error:
Failed to connect to 169.254.x.x port 80: Connection refused. Any leads are appreciated! Thanks!

[2020-11-11 16:20] reinzor opened #34 "ROS release"
I've seen you created a release zip in Github. What about releasing the package using bloom so that it can be added to the `rosdistro`?

[2020-11-11 16:20] reinzor commented on #34
https://github.com/PepperlFuchs/ROS_driver/releases/tag/v1.0

[2020-11-11 16:22] ipa-hsd commented on #34
Yes they are in the process of doing it. It should be done in the coming weeks.

[2020-11-30 13:40] jadhm opened #35 "Bug: dynamic reconfigure"
Hi,

I think there is a bug in the dynamic reconfigure. Once you update a parameter all the other parameters get updated to the default value. More specifically, in this line you re-update the the values from the output of the scanner and here there is something going wrong that reset the values of the parameters. In addition, I noticed that changing the config values for example the _start_angle_

[2020-11-30 15:32] jadhm opened #37 "feat: add time_offset parameter"
Hi,

I sent a pull request  #36 to add a new parameter time_offset in case there is latency.

Regards,
Jad

[2020-12-01 08:39] jadhm opened #38 "Reconnictivity issue"
Hi,

The the node reconnects once the connection is lost with the scanner but the node doesn't keep trying to reconnect. In other words, if the connection was lost for a particular time the node raises an errors and it doesn't recover at all which means that the re-connectivity is not robust. Would you please look at this problem because the node should always keep trying to reconnect.

Regards,
J

[2020-12-01 13:19] ipa-hsd commented on #38
Yes I am aware of this and added an `enhancement` label to the issue.

[2020-12-01 13:20] ipa-hsd commented on #37
https://github.com/PepperlFuchs/ROS_driver/pull/36#issuecomment-736545604

[2020-12-03 09:31] ipa-hsd commented on #30
Formatting should be fixed with https://github.com/PepperlFuchs/ROS_driver/pull/40. Closing this for now.

[2020-12-03 09:31] #30 closed

[2020-12-03 09:35] ipa-hsd commented on #32
I was able to build and run the code successfully in `Noetic`. Are you still having the issue? Could you please compile the code in `debug` mode
[code]
and run it with [gdb](http://wiki.ros.org/roslaunch/Tutorials/Roslaunch%20Nodes%20in%20Valgrind%20or%20GDB) (add the following to the `<node>` tag in your `launch` file)
[code]

[2020-12-03 09:37] ipa-hsd commented on #33
This is not related to the driver. Please check your network configuration. Closing this for now.

[2020-12-03 09:37] #33 closed

[2020-12-03 15:20] john-sokko opened #41 "Acquiring IP address for R2300"
Has anyone had success using this with the R2300.  If so, how were you able to acquire the IP address from the device?

[2020-12-03 15:25] ipa-hsd commented on #41
The default IP is `10.0.10.76`. It might be mentioned in the user manual. But this is not a ROS driver specific question, so I will close it.

[2020-12-03 15:25] #41 closed

[2020-12-03 20:10] john-sokko opened #42 "R2300 can't visualize point cloud in rviz"
Launching _r2300.launch_, I get the following error in rviz for the ``PointCloud2`` display:

``Failed to transform from frame [/base_link] to frame [base_link]``

``base_link`` is selected as the Global Fixed frame.

I checked the ``/cloud`` topic at the command line, and it is publishing at 10-11 Hz.  I can also visualize each of the 4 ``LaserScan`` topics.

Any ideas how to fix?

[2020-12-03 20:15] john-sokko commented on #42
Here is a screenshot.
![pc_err](https://user-images.githubusercontent.com/63501278/101083025-60b9be80-357a-11eb-808b-51c37cec630e.png)

[2020-12-04 07:18] ipa-hsd commented on #42
Is this on `Ubuntu 20.04` and `ROS Noetic`? I am having the same problem on `Noetic`.

[2020-12-04 13:56] john-sokko commented on #42
Yes.

[2020-12-04 16:22] ipa-hsd commented on #42
looks like it is a known error: https://answers.ros.org/question/355595/rviz-tf-error-failed-to-transform-from-frame-map-to-frame-map/

[2020-12-08 03:05] wsaihopfsg opened #43 "cURLpp not found on Debian 9.0"
Hi,

I tried installing the driver on Debian 9.0.

During the rosdep install step, `Unable to locate package libcurlpp-dev` is reported.

I proceeded with an alterative package `apt-get install libcurl4-openssl-dev`.

In the CMakeFiles.txt I added `pkg_check_modules(CURL libcurl REQUIRED)`.

However during catkin_make compilation all `#include <curlpp/cURLpp.hpp>` will get an "No such file or dire

[2020-12-08 08:28] ipa-hsd commented on #43
That is strange because the key for `debian` is `libcurlpp-dev` as seen [here](https://github.com/ros/rosdistro/blob/3b3b962005fca9a6032fb99ec9b07ee3631e0ad5/rosdep/base.yaml#L618). I don't think `libcurl4-openssl-dev` is the same package so you are bound to get `No such file or directory` error. Are you sure you have done
[code]

[2020-12-08 09:04] wsaihopfsg commented on #43
Yes I have performed both commands.

While `libcurlpp-dev` was not found, this was the message for `sudo apt-get install libcurl-dev`, and subsequently I chose `libcurl4-openssl-dev`
[code]

[2020-12-08 09:27] ipa-hsd commented on #43
These are some of the commands I used:
[code]
So the full name of the library I am looking for is `libcurlpp-dev`. Next list all the files associated with this lib
[code]
You can see that there is `/usr/include/curlpp/cURLpp.hpp` listed, which we want to include in the code. For these files to be found, I check the .pc file

[code]
Based on this I include `curlpp` (`Name:`) in my `CMakeLists.txt`

[2020-12-08 09:31] ipa-hsd commented on #43
The file associated with `libcurl4-openssl-dev` as seen [here](https://packages.debian.org/stretch/i386/libcurl4-openssl-dev/filelist) is `/usr/include/i386-linux-gnu/curl/curl.h`. I am guessing this is a `C` implementation and not `C++`. So either find a corresponding `C++` implementation for `debian` or change the code to use the `C` api.

[2020-12-08 11:15] wsaihopfsg commented on #43
curlpp-dev [is indeed not available](https://index.ros.org/d/curlpp-dev/) for Debian 9 (Stretch).

Thanks for your help.

[2020-12-08 11:15] #43 closed

[2020-12-09 10:41] wsaihopfsg opened #44 "Where is r2300_allscans.launch"
The readme says
"To visualize the 4 rings in RViz, run the following launch file:
[code]
"
I can only find `r2300.launch` but not  `r2300_allscans.launch`.

Thank you

[2020-12-09 10:48] ipa-hsd commented on #44
Sorry the `README` needs to be updated. You should be able to visualize all rings with `r2300.launch`. If you are using `Noetic`, please refer https://github.com/PepperlFuchs/ROS_driver/issues/42

[2020-12-09 12:12] wsaihopfsg commented on #44
merged with #42

[2020-12-09 12:12] #44 closed

[2020-12-09 12:22] wsaihopfsg commented on #42
I can successfully invoke `roslaunch pf_driver r2300.launch`, but cannot see anything in rviz.

![image](https://user-images.githubusercontent.com/75309631/101628896-79831200-3a5b-11eb-9dcb-0a6ad59db6b7.png)

[code]
I checked all the cloud related topics `/cloud_1 /cloud_2 /cloud_3 /cloud_4`, all are not publishing.

The only topic that seems to be actively publishing is `/tf`.

The unit is not de

[2020-12-09 12:26] ipa-hsd commented on #42
@wsaihopfsg check the link posted in this thread. It is apparently a known issue in Noetic.

[2020-12-09 12:27] wsaihopfsg commented on #42
Sorry I made a typo, I am using melodic

[2020-12-09 12:37] ipa-hsd commented on #42
It would be difficult to replicate this error since there has not been an issue with `Melodic` before and there seems to be no error output in your case. Can you check the output of the pointcloud and laserscan on terminal with
[code]

[2020-12-09 14:30] wsaihopfsg commented on #42
Both `/cloud` & `/cloud_1` are not publishing. In fact all topics are not publishing except for `/tf`, `/r2300_node/parameter_descriptions` & `/r2300_node/parameter_updates`

Not sure if it's related but I realized that with the web browser `http://192.168.0.78/cmd/get_parameter`, my settings are correct
[code]
But when I  `rostopic echo /r2300_node/parameter_updates`, I get instead
[code]

[2020-12-28 09:26] wsaihopfsg opened #45 "config.watchdog is always true"
In the virtual function `get_scanoutput_config` in `pfsdp_protocol.hpp`, the `json_keys` for "watchdog" is missing during the invocation of `get_request`, resulting in `config.watchdog` being always true.

Original code:
https://github.com/PepperlFuchs/ROS_driver/blob/80c423ad038d2ff197bd81588ad40ee3f3cd56e5/pf_driver/include/pf_driver/pf/pfsdp_protocol.hpp#L385

New code:
[code]

[2021-01-02 16:09] wsaihopfsg opened #47 "Bug when start_angle & max_num_points_scan are specified"
In R2300 there are 2 ways to limit the FOV
  1. User specifies the optional `start_angle` & `max_num_points_scan` arguments when invoking `request_handle_udp`. This is backward-compatible with R2000
  2. By changing the paramaters `measure_start_angle` & `measure_stop_angle`. This is only available in R2300.

The current code makes provision only for case 2 and does not seem to consider case 1, wh

[2021-01-04 11:22] reinzor commented on #34
Another ping, we are waiting for an official ROS release :)

[2021-01-05 04:22] wsaihopfsg commented on #35
I think what is missing is a `set_scanoutput_config` that actually communicates the config changes to the R2000/R2300.

[2021-01-07 15:55] reinzor commented on #34
@PepperlFuchs could you please elaborate on this?

[2021-01-13 09:16] ipa-hsd commented on #3
Feel free to reopen the issue if this is not solved for you.

[2021-01-13 09:16] #3 closed

[2021-01-13 09:17] ipa-hsd commented on #16
Feel free to reopen the issue if this is not solved for you.

[2021-01-13 09:17] #16 closed

[2021-01-13 09:18] ipa-hsd commented on #32
Feel free to reopen the issue if this is not solved for you.

[2021-01-13 09:18] #32 closed

[2021-01-13 09:19] #42 closed

[2021-01-19 16:07] reinzor commented on #34
@ipa-hsd , @PepperlFuchs could you please elaborate on the plan with this driver? If not, we have no other choice than forking this driver and maintain a fork (which is obviously not desired for an open-source project).

[2021-01-19 16:15] ipa-hsd commented on #34
@reinzor sorry for the delay, but there are some pending PRs which we are trying to merge ASAP. Since they are fixes to existing (minor) bugs, it would not make much sense to release the packages without these fixes (the driver "works" without these fixes though).

[2021-02-09 13:47] ipa-hsd commented on #34
Finally it is done:
https://github.com/ros/rosdistro/pull/28271
https://github.com/PepperlFuchs/ROS_driver/releases/tag/1.1.0

It takes few days till it is indexed and then you should be able to install the package. Thanks for your patience!

[2021-02-09 14:06] #34 closed

[2021-03-18 10:53] jadhm commented on #37
@ipa-hsd  could you please take a look at the pull request ?

[2021-03-18 11:03] jadhm commented on #38
@ipa-hsd  Hi ! Any updates about this issue ?

[2021-03-22 10:58] jadhm commented on #37
ping @ipa-hsd

[2021-03-22 12:42] ipa-hsd commented on #37
Though time offset is an issue, but the solution is not acceptable. It does not make sense to add a user-defined time offset.

[2021-03-25 07:14] jadhm commented on #37
@ipa-hsd  I see your point but if you looked at other drivers of other sensors you would see that they also have this parameter for solving latency. This is an example of the sick driver
https://github.com/SICKAG/sick_safetyscanners/blob/cfa456e78af42b82c1031354864837a798add4a7/config/SickSafetyscannersConfiguration.cfg#L20

[2021-03-25 07:36] ipa-hsd commented on #37
Yes I have seen that and the realized that was the basis of this PR. But does not necessarily mean it is a good solution.

[2021-03-25 16:02] ipa-hsd commented on #37
I might be wrong. According to the [REP](https://www.ros.org/reps/rep-0138.html), it does mention `calibrate_time` and `time_offset`.

[2021-03-26 07:42] jadhm commented on #37
@ipa-hsd  dealing with latency is a bit tricky but a parameter for fine tuning should be possible. Would you be open for re opening my PR ?

[2021-03-26 12:24] reinzor commented on #37
@ipa-hsd , just to clarify: Nobody is alterint the `ros::Time`. The `ros::Time` is determined by the system clock if `/use_sim_time` parameter in the global namespace is `false`. If `true`, the `ros::Time` is determined by a `ClockPublisher` that publishes on the `/clock` topic. This additional `time_offset` parameter is only required for manually adjusting the timestamps of the incoming sensor re

[2021-03-28 01:32] Zhaohuanfeng opened #61 "Is there a driver for ros2? Thanks!"
Is there a driver for ros2? Thanks!

[2021-03-29 06:44] ptruka commented on #38
@jadhm Hi, this enhancement will be included in the next major version.

[2021-03-29 06:46] ptruka commented on #61
Not at the moment. We have just started sifting through the effort of a ros2 porting.

[2021-04-12 06:18] reinzor commented on #37
@ipa-hsd any updates on this?

[2021-04-19 14:28] JaccovdS opened #62 "Maintenance status driver"
I wanted to share with you that we're not that happy with the maintenance status of the driver/repo given our experience over the last year. Here are some examples why:

1. Official release took a very long time, first mention was May 2020 actual date of the first tag (not even ROS release) was November 2020. Reference: https://github.com/PepperlFuchs/pf_lidar_ros_driver/issues/12 https://github.c

[2021-04-21 07:33] JaccovdS commented on #62
@ipa-hsd I'm in no doubt that a lot of useful work has been done. That's also no point of discussion.

My main point is that you now make your source code publicly available on this platform but you don't seem to be open to open-source development. I.e. accepting / discussing useful PR's, listening to comments / requests / needs, being clear about milestones / timelines / goals. In my opinion open

[2021-04-21 07:39] ipa-hsd commented on #62
That is a very valid point @JaccovdS. We will discuss this with @PepperlFuchs and improve the contributions from the community in the future.

[2021-04-21 07:41] JaccovdS commented on #62
@ipa-hsd happy to hear. Can you update us on the outcome?

[2021-06-04 09:37] JaccovdS commented on #62
@ipa-hsd any news?

[2021-06-28 08:46] JaccovdS commented on #62
@ipa-hsd @PepperlFuchs ping

[2021-07-14 17:39] Arthav24 opened #63 "Very high cpu usage with R2300"
I am using R2300 with intel i5-6500TE. At the htop I can see pf driver consuming almost 80-90% CPU. Does anyone facing the same because I haven't modified the driver. Please guide me on how to debug the cause. Just launching the r2300.launch increases this much CPU usage. Not even launching the data processing node.
High CPU usage causing computational bottlenecks with my usage so looking forward

[2021-07-19 07:42] ptruka commented on #63
Hello Arthav, I'm having a i5-8350U here. Even if I start the driver in a virtual machine, I don't get such a high CPU usage.
Is RViz running? If so, how does the system behave when RViz is closed?

If you are only using one layer, you could disable the unused ones. This can be done via dynamic_reconfigure of ROS, or directly via http (example): http://<sensor IP address>/cmd/set_parameter?layer_e

[2021-07-19 15:06] Arthav24 commented on #63
Hey,
No I am not running rviz in normal operation. Just for visualising sometimes I use rviz.
Rviz doesn't seems to affect the CPU usage.
Initially I did the same switched off the unused planes and also commented static tf publisher in launch file for unused planes that rather increased the usage +10%. Reverting back brought it down to 80s%.

[2021-07-20 09:37] ipa-hsd commented on #63
@Arthav24 are you using the binaries or you have build the repo from source? If you are building from source, please build it in debug mode
[code]
and use `valgrind` to report if there are any memory leaks:
[code]
So the node in the launch file would look something like
[code]
Please report here what is the log output from `valgrind`

[2021-07-22 09:04] Arthav24 commented on #63
[memleak_old_4tf.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/6861105/memleak_old_4tf.log)
[memleak_old_1tf.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/6861107/memleak_old_1tf.log)
[memleak_latest_4tf.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/6861108/memleak_latest_4tf.log)
[memleak_latest_1tf.log](https://github.com/PepperlFuchs/pf_lidar_r

[2021-07-22 16:36] ipa-hsd commented on #63
The logs don't seem to be alarming. I will do a test with
[code]
and then we can compare the logs maybe

[2021-07-24 12:47] Arthav24 commented on #63
hey @ipa-hsd any update from your test ?

[2021-07-26 18:17] ipa-hsd commented on #63
@Arthav24 when I compile the code with
[code]
the CPU usage fluctuates between 30-60%. Not as high as you reported, but it can be improved maybe.

By compiling with `Debug` option and using `callgrind`, the log file is [callgrind.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/6880326/callgrind.log). I will need to go through the log in detail, but a quick look seems like most of th

[2021-07-27 05:36] Arthav24 commented on #63
yeah, but for me the CPU usage was always >60%. When I was using the driver in my stack then I had BUILD_TYPE=Release but had similar results.
I had been using driver for very long runtime but the usage was high from the beginning as soon as the node starts.

yes, I did check the latest commits in main branch for fixing frequency and accumulation. and tried but saw similar results. This too was bu

[2021-07-27 06:55] ipa-hsd commented on #63
Can you try with
[code]
and share the log?

[2021-07-27 10:32] ipa-hsd commented on #63
I had another look at the `callgrind.log` and looks like [this while loop](https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/main/pf_driver/include/pf_driver/pf/pipeline.h#L144) is the culprit. It's a fast while loop without any sleep and the loop tries to read data even if there isn't any. For 25Hz data, this is quite a lot.

[2021-07-27 15:09] ipa-hsd commented on #63
@Arthav24 could you please try https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/65? For me the consumption has come down from 30-60% to less than 10%. This is the log file after the fix. [callgrind_fix.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/6886607/callgrind_fix.log). I have marked the PR with [WIP] because there might be some possibility to improve it slightly more

[2021-07-27 17:35] Arthav24 commented on #63
Sorry for the delayed response, I see you have come up with an amazing solution which I will definitely give a try and report back.

 Definitely, I think it could be improved because I have also used R2000 but a different driver and for that, I never saw usage >5%.
Thanks to @konu-droid for providing logs and checking things out.

[2021-07-30 07:38] ipa-hsd commented on #63
@Arthav24 any updates?

[2021-07-30 07:44] ipa-hsd commented on #35
Solved in https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/49

[2021-07-30 07:44] #35 closed

[2021-07-30 07:45] ipa-hsd commented on #45
Solved in https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/46

[2021-07-30 07:45] #45 closed

[2021-07-30 11:31] Arthav24 commented on #63
Again sorry for the delayed response,
These are the observation from 2 days of testing :
1) CPU usage dropped to 13% with all the layers enabled. 👍
2) CPU usage jumped to 80%( peak of 98%) if we disable 3 layers from both the sensor and launch file.
3) Reverting 2) brought back to 13%.  👎
4) The usage in 2) seems to creep up slowly as initially after launching it was around 13-15% but after someti

[2021-07-30 11:45] ipa-hsd commented on #63
Thanks for the detailed analysis!

here you mean?
https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/2162e5d203291e01de30f7774a7366a06cde3b4b/pf_driver/include/pf_driver/pf/pipeline.h#L137

Maybe the sleep was not required in that loop in the 1st place. I will revert it back.

That seems strange. But in any case, I should introduce a conditional variable which wakes up the reader thread only

[2021-07-30 11:53] Arthav24 commented on #63
Exactly this.
` std::this_thread::sleep_for(std::chrono::milliseconds(5)); `

I also thought that sleep is not required but cutting it half brought the frequencies back to expected so didn't try removing it completely.
That would be perfect that threads are spawned only for the enabled layers.
Yes, it looks and sounds like a memory leak, like something piling up but couldn't debug the same so righ

[2021-08-17 08:20] JaccovdS commented on #62
@ipa-hsd @PepperlFuchs I think the lack of feedback in this issue proves my point. I will close the issue.

[2021-08-17 08:20] #62 closed

[2021-12-19 07:09] iLanceS commented on #61
@ipa-hsd
I have ported an [old version](https://github.com/dillenberger/pepperl_fuchs.git ) for ros2,but it  doesn't work well,some times it give me a mistake position,  It's spinning by a random period。

So，When do you start?

[2022-04-01 15:37] ipa-hsd commented on #63
Reverting 2) brought back to 13%. -1

Below is the section that is most likely culprit of this.

https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/1e14af5bdd5778b405ae4bea2d00083a6306a1e7/pf_driver/src/ros/scan_publisher.cpp#L139-L152

[2022-04-01 20:41] andrestoga commented on #61
@ipa-hsd how is the project going? any updates on the ROS2 version?

[2022-04-04 08:49] PepperlFuchs commented on #61
Hello,
The ROS2 driver will be there in Q2.
BR

[2022-04-04 08:49] #61 closed

[2022-04-06 08:55] #63 closed

[2022-05-05 13:30] HenrikasRS opened #76 "frame_id of the LaserScanMsg should be configurable"
ScanPublisherR2000 and ScanPublisherR2300 constructors are called (in pf_interface.cpp:186) with hardcoded parameters frame_id (set value "scanner") and topic (set value "/scan"). It should be configurable because sometimes in ros frame structure there's more than one laser scanner and they need unique frame_id's. Similar problem with the topic parameter, but this one can be fixed easier by remapp

[2022-05-05 13:35] ipa-hsd commented on #76
[This PR](https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/75) makes it configurable. You should be able to set the values in yaml file: https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/bb2c993f8a2d738b56fd9fa2d76f8a8607b0f0f0/pf_driver/config/r2000_params.yaml#L9

[2022-05-19 12:12] robertwil opened #78 "R2000 UHD not supported"
Hi,
I was testing our R2000 UHD with this driver and it seems it does not work as it says:
[ERROR] [1652961708.518646295]: Device unsupported
[ERROR] [1652961708.521031680]: Unable to initialize device

I debugged a little and found that the function
PFInterface::handle_version
fails at line 124 (https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/90213cad3edb4378f379b310a4fd40be6a9dcc47/pf_d

[2022-05-19 12:20] ipa-hsd commented on #78
For now could you please change this line manually and recompile? https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/90213cad3edb4378f379b310a4fd40be6a9dcc47/pf_driver/src/pf/pf_interface.cpp#L108
The way R2000 and R2300 are identified might have to change.

[2022-05-20 07:13] robertwil commented on #78
Changing the versions leads to a start of the ScanPublisherR2000 without obvious errors .. I could not receive any scan though but this could have different reasons.

[2022-05-20 07:17] ipa-hsd commented on #78
Can you check with wireshark if you are receiving any packets?

[2022-05-23 09:01] guomengnick opened #79 "Device unsupported"
Hi
i'm using
OMD30M-R2000-B23-V1V1D-HD-1L    On Ubuntu20.04 ROS noetic ,
when i launch  " roslaunch   pf_driver   r2000.launch   "
it shows error below:
Device unsupported
Unable to initialize device

and i'm sure that i can "ping" Lidar's IP
thanks

[2022-05-23 09:04] ipa-hsd commented on #79
This issue sounds similar to https://github.com/PepperlFuchs/pf_lidar_ros_driver/issues/78. What is major and minor versions of your device?

The current implementation needs to be changed so that it does not rely on the version numbers to identify the device, but checks for the `device_family`. I will make a new PR this week with this update.

[2022-05-23 10:47] robertwil commented on #78
I can check the next time I get to the scanner.
At least there are no bigger connectivity issues (like cables, bad network interfaces etc.) as I could get
scans in PACTware as well as in the other non official driver (https://github.com/dillenberger/pepperl_fuchs) but which has other problems.

[2022-05-24 05:11] guomengnick commented on #79
Lidar i'm using is this :
[P+F](https://www.google.com/url?q=https://www.pepperl-fuchs.com/taiwan/zh/classid_53.htm?view%3Dproductdetails%26prodid%3D86557&sa=D&source=editors&ust=1653368517523629&usg=AOvVaw32SZqeK0Jl4_90HfZ-6-7_)

and i use "PACTWare " to see Version infomation below:
Firmware: 1.60
Hardware: 1.71
Protocol: 1.04

[2022-05-31 08:12] wawanbreton opened #80 "ROS2 support"
Hi,
I'm using an R2000 lidar with ROS2, currently using a bridge from the ROS1 driver.
I will now have a need not to use the bridge anymore, and having only ROS2 nodes.
Is there a work in progress for ROS2 porting ? If not, I will start forking the repository and do it myself, but I just wanted to be sure nobody is alreay working on it.

[2022-06-02 08:15] ipa-hsd commented on #76
https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/75 is merged

[2022-06-02 08:15] #76 closed

[2022-06-02 08:16] ipa-hsd commented on #47
Does https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/50 fixes this issue?

[2022-06-03 07:52] ipa-hsd commented on #79
I have pushed some changes in https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77/commits/8234c6f212a8fe622b755bd2e25db8297444a41e which is part of https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77. Hopefully that should solve the problem.

[2022-06-03 07:54] ipa-hsd commented on #78
At least to take care of the problem with major and minor version numbers, I have pushed some changes in https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77/commits/8234c6f212a8fe622b755bd2e25db8297444a41e, which is part of https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77.

[2022-06-03 14:24] wawanbreton commented on #80
Thanks for the feedback.
I just pushed a basically working version on my branch. I was about to start doing some refactoring, but it seems useless if you are up to it. You can take a look at it if needed on some points.
I have been struggling about the deserialization of the header, since it is a bit more complicated (impossible ?) with ROS2, so I did a quick-and-dirty implementation. I'm curious

[2022-06-07 07:33] ipa-hsd commented on #80
I am guessing this is the branch: https://github.com/wawanbreton/pf_lidar_ros_driver/tree/porting-ros2

Thanks for the initial work! I have created a PR here: https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/82
I will push more commits to it

[2022-06-07 07:42] wawanbreton commented on #80
Ok, nice ! I think it requires some refactoring : I had to reorganize the initialization as in ROS2 you can't read the parameters before the node is created, so I did things that are not very clean. It works for me yet so I can use my LIDAR, but feel free to break what I did !

[2022-06-07 07:45] ipa-hsd commented on #80
sure :) Porting of the `package.xml` and `CMakeLists.txt` is already good contribution.

[2022-06-08 03:21] guomengnick commented on #79
hi i'm using updated code
but there is still something wrong
the error code is the same as above

[ERROR] [1654658163.667808723]: Device unsupported
[ERROR] [1654658163.669342408]: Unable to initialize devicer
[2000_node-3] process has died [pid 125369, exit code 255, cmd /home/ros/pf_ws/devel/lib/pf_driver/ros_main_name:=r2000_node __log:=/home/ros/.ros/log/539ef906-e6d9-11ec-997c-150ca0cd6143/r2

[2022-06-08 07:39] ipa-hsd commented on #79
@guomengnick https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77 has still not been merged, so if you are using the updated `main` branch, you would still face the error.

[code]
Did you also see `major_version` and `minor_version`?

[2022-06-10 02:46] guomengnick commented on #79
I don't see any major or minor version you said
my PACTware version  is 5.0
where is major_version  on the PACTware?

thanks

[2022-06-10 15:35] ipa-hsd commented on #80
https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/82 has been closed and the work is being continued on https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/83.

[2022-06-13 02:03] guomengnick commented on #79
this is my Lidar configuration :
{
"protocol_name":"pfsdp",
"version_major":1,
"version_minor":4,
"commands":[
"get_protocol_info",
"list_parameters",
"get_parameter",
"set_parameter",
"reboot_device",
"factory_reset",
"reset_parameter",
"request_handle_udp",
"request_handle_tcp",
"feed_watchdog",
"set_scanoutput_config",
"get_scanoutput_config",
"start_scanoutput",
"stop_scanoutput",
"release_han

[2022-06-14 07:25] ipa-hsd commented on #79
In this line
https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/90213cad3edb4378f379b310a4fd40be6a9dcc47/pf_driver/src/pf/pf_interface.cpp#L108
you need to change it from 3 to 4
[code]

[2022-06-16 01:02] guomengnick commented on #79
Okay
i change to 4
and it works !
Thank you for your help!!

[2022-06-16 09:53] #79 closed

[2022-07-11 16:26] ipa-hsd commented on #38
https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/81 has been merged

[2022-07-11 16:26] #38 closed

[2022-07-11 16:27] ipa-hsd commented on #78
https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/77 has been merged and seems to have solved the issue. Please feel free to reopen the issue if you are still facing it.

[2022-08-12 08:33] BIRL-xu opened #88 "How to configure angular fov for r2000?"
I can connect to r2000 normally, but I want to specify a angular fov, e.g. 180 degrees. I set the start_angle to -1.57, the topic echo shows the angle_min is -1.57, but angle_max is 4.71(2PI-start_angle).

[2022-08-20 14:13] ipa-hsd commented on #47
This issue is fixed by https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/50.

[2022-08-20 14:13] #47 closed

[2022-09-23 05:18] guomengnick opened #89 "Config "packet_type" qeustion"
Hi,
i want to know what is different
packet_type A and B.

thanks.

[2022-09-23 07:26] Hr-Senerity opened #90 "Too many scans in receiver queue: Dropping scans!（It appears again）"
I am using the r2000 radar, and after 2 hours of operation, this issue occurs when it is reopened.
At this time, running the cartographer did not receive the radar data, and could only restart the entire system to solve the problem.
Of course I also see the same problem described in #16, so is there any other way?

[2022-09-27 11:55] abuchegger opened #91 "Possible connection drop after long runtime"
Hi!

We had the issue that after running for several hours (overnight), the driver node suddenly stopped publishing data on the scan topic during one of our tests. The node did not output any log messages, and obviously did not try to reconnect to the scanner. When checking, the scanner was reactive (ping + curl). We restarted the node, and it published scan data again.

Have you encountered this

[2022-10-07 13:58] abuchegger commented on #91
Hi!

We had the same issue again; please find attached the (filtered) rosout and stdout of the driver node:
[lidar-nav_lidar-rosout.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/9734426/lidar-nav_lidar-rosout.log)
[lidar-nav_lidar-stdout.log](https://github.com/PepperlFuchs/pf_lidar_ros_driver/files/9734427/lidar-nav_lidar-stdout.log)

The last scan data was received at approx. 16

[2022-10-07 14:12] ipa-hsd commented on #90
which version of the code are you using?

[2022-10-07 14:15] ipa-hsd commented on #91
which version of the code are you using? In the recent times I have not tested the driver by running it for long duration since that issue had been fixed. I will try it out next week. Not sure if https://github.com/PepperlFuchs/pf_lidar_ros_driver/issues/90 is related.

[2022-10-07 14:24] abuchegger commented on #91
Hi,

we're using the current main branch (commit b07c6170d7112aa5923bb9b1e47c09f865e00e4d). The error occurred approx. 3h48min after the connection to the lidar was established.

Best regards,
Alex

[2022-10-07 14:29] ipa-hsd commented on #91
Thanks for the info. I am currently running on tight schedule, but will try it with the configuration you mentioned next week.

[2022-10-12 08:16] Hr-Senerity commented on #91
Sorry to reply so late,

I also use the current main branch (commit b07c617). But during the long run, I had no data outage. However, when the node is shut down and restarted after running for a long time, the output information of the node is #90  and no data output. The R2000 will return to normal until you restart after power failure.

[2022-10-13 11:09] MichaelGrupp opened #92 "Release"
Hi,

I just wanted to ask what your schedule for a new release looks like. The latest release in the ROS Noetic distro is 1.2.0, and since then there have been quite a number of improvements committed to this repo, which probably would also benefit the users who install the package from the distro. Thanks in advance!

[2022-10-13 12:53] ipa-hsd commented on #91
@abuchegger and @Hr-Senerity very sorry but looks like I will not be able to take a look at this before leaving for ROSCon next week.

@abuchegger did you monitor the CPU usage when no data was received?

[2022-10-13 12:56] ipa-hsd commented on #92
@ptruka will be back at office in 1st week of November I think. https://github.com/PepperlFuchs/pf_lidar_ros_driver/pull/86 is the last pending PR to be reviewed before the release.

[2022-10-24 09:33] abuchegger commented on #91
No, unfortunately we have not been monitoring CPU usage. We are planning to integrate that into our software.

We have tried to reproduce the issue with an R2000 in the office, with no luck so far.

[2022-11-10 08:20] dlutjwh opened #95 "ROS2.0 driver"
hi, where can i find the ROS2.0 driver for R2000, thanks

[2022-11-10 09:37] ipa-hsd commented on #95
Still few things pending and needs thorough testing, but you can find the WIP version here: https://github.com/PepperlFuchs/pf_lidar_ros_driver/tree/porting-ros2

[2022-11-14 07:43] dlutjwh opened #96 "driver params"
hi,
in this version :https://github.com/dillenberger/pepperl_fuchs, we can use the param scan_frequency, but in the new rep, we cannot find the param scan_frequency. how can we use it?

sincerely thanks

[2022-11-14 09:39] #95 closed

[2022-11-14 12:01] ipa-hsd commented on #96
`scan_frequency` is a dynamic reconfigure parameter See: https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/main/pf_driver/cfg/PFDriverR2000.cfg#L19 and https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/main/pf_driver/cfg/PFDriverR2300.cfg#L39.  For details on how to use dynamic reconfigure, refer to http://wiki.ros.org/dynamic_reconfigure

[2022-11-16 03:32] #96 closed

[2022-11-16 04:45] dlutjwh opened #97 "the time stamp of r2000"
hi, i used the https://github.com/dillenberger/pepperl_fuchs ros driver, and adpted the code to ros2, and set the freq 15hz, but i find the time increment between continuous scans is not stable at 0.067s(15Hz), it is jumping. i'm confused of it. thanks. i guess there is a delay in ros::now(),which the code set it as our laserscan timestamp. but  i donot know why. is it related to the TCP，which old

[2022-11-16 09:35] #97 closed

[2022-11-16 10:29] ipa-hsd commented on #89
You can find the information in the R2000's ethernet protocol: https://files.pepperl-fuchs.com/webcat/navi/productInfo/doct/doct3469f.pdf?v=20201005101009 (section "3.4 Transmission of scan data")

[2022-11-16 10:29] #89 closed

[2022-11-29 08:22] ipa-hsd commented on #88
I think we can close this issue. @BIRL-xu please feel free to reopen if your question isn't answered.

[2022-11-29 08:22] #88 closed

[2022-11-29 10:26] robertwil opened #98 "UDP port not used - connection with firewall not possible"
Hi,

using transport via udp does only work when I disable my firewall (which is unwanted).
Looking at the code it seems, that the udp port set in the config is never really used as it is overwritten by
the port of the local endpoint used in the initial connection to the scanner:
https://github.com/PepperlFuchs/pf_lidar_ros_driver/blob/fc9a38b7348f6979800ee33969c6e7cf1365b34a/pf_driver/src/pf/pf_i

[2022-11-29 10:29] ipa-hsd commented on #98
@robertwil thanks for pointing this out. This behaviour is not wanted. The code should check if user has provided a port. If not, only then get it from the local endpoint.

[2022-11-29 13:21] Arthav24 commented on #92
Hey, Just curious any timeline for release?

[2022-11-30 14:57] ipa-hsd commented on #98
@robertwil I made some changes locally and tested it with R2000. I will create a PR tomorrow, would be great if you could test it on your side before it is merged (I haven't tried it with a firewall, but just tested if UDP uses the port in the config)